body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

#button-div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 15px;
    background: #3ecf8e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#showForm.active {
    background: #2a9d8f;
}
#result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    text-align: center;
}
.expenses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.expense-tile {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    flex: 1 1 calc(33.333% - 20px);
    margin-bottom: 20px;
}

.expense-tile:hover {
    transform: scale(1.05);
}

.expense-tile .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.expense-tile .content > div {
    margin-bottom: 10px;
}

.expense-tile .category {
    position: relative;
    margin-top: auto;
    font-size: 14px;
    color: #555;
}

.expense-tile .date {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 14px;
    color: #555;
}

.expense-tile .icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.edit-description,
.edit-amount{
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-category {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;

}


@media (max-width: 768px) {
    .expense-tile {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .expense-tile {
        flex: 1 1 100%;
    }
}
.icon {
    cursor: pointer;
    font-size: 16px;
}

.icon:hover {
    color: #3ecf8e;
}

#expenseForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    max-width: 100%;
    box-sizing: border-box;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    gap: 10px;
}

.input-row input,
.input-row select {
    flex: 1 1 calc(33.333% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#expenseForm button {
    margin: 20px auto 0;
    display: block;
}